.city-game-sky-grand {
    background-image: url(./city-game-sky-grand-theft-auto-v-gta-v-hd-wallpaper-preview-1.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 822px;
    width: 1728px;
}

.city-game-sky-grand .overlap-group {
    height: 830px;
    position: relative;
}

.city-game-sky-grand .rectangle {
    height: 822px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1728px;
}

.city-game-sky-grand .img {
    height: 640px;
    left: 171px;
    object-fit: cover;
    position: absolute;
    top: 190px;
    width: 1176px;
}

.city-game-sky-grand .vector {
    height: 212px;
    left: 0;
    position: absolute;
    top: 610px;
    width: 1728px;
}
